<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gallery</title>
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="header">
  <h1>📸 Gallery</h1>
 <div style="display:flex; gap:15px; align-items:center;">
    <span class="user-badge">
      👤 {{ username }}
    </span>
    <a href="/logout">Выйти</a>
  </div>
</div>

<div class="upload-box">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*">
    <button>Загрузить фото</button>
  </form>
</div>

<div class="gallery" id="gallery"></div>
<div class="viewer" id="viewer" onclick="closeViewer()">
  <img id="full">
</div>

<script src="/static/js/gallery.js"></script>
</body>
</html>